{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.url }}{{ site.images }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.url }}{{ site.images }}/bg.svg)">
{% endif %}

  <div class="cover">

    <div class="cover-text">
      <div class="heading">
        {% if page.volume %}
          <a href="{{ post.url }}">Vol.{{ page.volume }}: {{ page.title }}</a>
        {% else %}
          <a href="{{ site.url }}">{{ site.title }}</a>
        {% endif %}
      </div>

      <p>
        {% if page.summary %}
          {{ page.summary }}
        {% endif %}
      </p>

    </div>

  </div>

  <div id="switcher"></div>
</aside>
