---
layout: default
---

<article class="post">

  <!-- <h1 class="post-title">{{ page.title }}</h1> -->

  <p class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d-%m-%Y" }}</time>

    {% if page.author %}
      &nbsp;/&nbsp;
      <span>{{ page.author }}</span>
    {% endif %}
  </p>

  <div class="post-content">

    <p>
      <audio
        class="mejs-player"
        controls=""
        data-mejsoptions='{"alwaysShowControls": true, "alwaysShowHours": true, "enableAutosize": true, "features": ["playpause", "progress", "current", "duration", "volume", "speed"]}'
        preload="auto"
        src="{{ page.audio_file_path }}"
        width="100%"
      >
      </audio>
    </p>
    <p class="text-right">
      <small>
        <a href="{{ page.audio_file_path }}">MP3ファイルをダウンロード</a>
      </small>
    </p>

    <h2>
      出演者
    </h2>
    <div class="article-actors">
      {% for actor_id in page.actor_ids %}
        {% assign actor = site.actors[actor_id] %}
        <a href="{{ actor.url }}" class="actor" target="_blank">
          <img src="{{ actor.image_url }}" alt="{{ actor.name }}" class="actor-image" width="72" height="72">
          <br>
          {{ actor.name }}
        </a>
      {% endfor %}
    </div>

    {{ content }}

    {% if page.next.url %}
      <a class="link-to-post" href="{{ page.next.url }}">
        <span class="link-to-post__next">&#10535; &nbsp;Next post</span>
        <span class="link-to-post__title">{{ page.next.title }}</span>
      </a>
    {% endif %}

    {% if page.previous.url %}
      <a class="link-to-post" href="{{ page.previous.url }}">
        <span class="link-to-post__prev">&#10535; &nbsp;Previous post</span>
        <span class="link-to-post__title">{{ page.previous.title }}</span>
      </a>
    {% endif %}

  </div>

</article>
